<h1>Yo <%= @reservation.user.name %>,</h1>

<p>Thanks for your moolah!</p>

<pre>
Flight #<%= @reservation.flight.number %>
From: <%= @reservation.flight.departure_airport %>
On: <%= @reservation.departs_on %>
</pre>

<p>If you have any questions, don't call us.</p>

<p>Thanks</p>
<p>Us</p>
